<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/add-product">Add Product</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <form action="/add-product" method="POST">
        <input type="text" name="title" />
        <button type="submit">Add Product</button>
      </form>
    </main>
    <script src="" async defer></script>
  </body>
</html>
